<script type='text/javascript'>  
function initialize(zipcode_from_ajax) {  
  var myOptions = {
    zoom: 10,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };      
  var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
  
  /* drop markers in this array */
  var markers = [];

  var zipcode = zipcode_from_ajax;
  if (!Object.isString(zipcode_from_ajax)) {
    zipcode = "<%= @zipcode %>";
  }
  
  /* Get the request */
  var gcoder = new google.maps.Geocoder;
  gcoder.geocode({ address: zipcode, region: "US" },  
    function(results, status) {
       if (status == google.maps.GeocoderStatus.OK) {
         map.setCenter(results[0].geometry.location);
         /*var marker = new google.maps.Marker({
          map: map, 
          position: results[0].geometry.location
         });*/
       }
     }
  );
  
  
  /* Set the map on the user's zipcode coords. */
} 

function markerClickDelegate(marker) {
  alert(marker.title);
}  

function reloadMap() {
  initialize($("search_string").value);
  return false;
}
</script>
<h3>Find your store.</h3>
<h4>We've automatically searched close to your zipcode.</h4>
<p><em>If you don't see your store, <a href="#">add it</a></em></p>
  <form onsubmit="return reloadMap();">
  <p>
    Starbucks near <input type="text" id="search_string" name="search_string" value="<%= @zipcode %>" autocomplete="off" /> <input type="submit" id="search_button" value="Search">
  </p>
  </form>
<div id="map_canvas" style="width: 500px; height: 300px; margin-bottom: 2px;">

<script type='text/javascript'>  
initialize();
</script>