<script type='text/javascript'>  
function initialize() {  
    if (GBrowserIsCompatible()) {  
        var map = new  GMap2(document.getElementById('map_canvas'));      
        map.setCenter(new GLatLng(51.5,-0.1167), 2);       
        map.addOverlay(new  GMarker(new GLatLng(43.6667,-79.4168)));      
        map.setUIToDefault();
        }   
    }
</script>
<h3>Find your store.</h3>
<h4>We've automatically searched close to your zipcode.</h4>
<p><em>If you don't see your store, <a href="#">add it</a></em></p>
<p>
  Starbucks near <input type="text" id="search_string" /> <input type="button" id="search_button" value="Search">
</p>
<div id="map_canvas" style="width: 500px; height: 300px; margin-bottom: 2px;">

<script type='text/javascript'>  
initialize();
</script>