<script type='text/javascript'>  
function initialize() {  
    if (GBrowserIsCompatible()) {  
        var map = new  GMap2(document.getElementById('map_canvas'));
        map.setCenter(new GLatLng(41.922,-87.6524), 7);
        map.addOverlay(new  GMarker(new GLatLng(41.922,-87.6524)));
        map.setUIToDefault();     
        }   
    }
</script>
<p>
  <input type="text" id="search_string" /> <input type="button" id="search_button" value="Search for ">
</p>
<div id="map_canvas" style="width: 500px; height: 728px; margin-bottom: 2px;">

<script type='text/javascript'>  
initialize();
</script>