<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
  <head>
  <title>HmsPlayground</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=abcdefg" type="text/javascript"></script>

</head>
<body>

<%= yield %>

</body>
</html>
